<!-- app/views/pages/continue.html.erb -->
<h2>You are logged in</h2>
<% if cookies.signed[:user_id] == 1 %>
  <%= link_to "Account Management", :controller => "users", 
    :action => "index" %><br />
  <%= link_to "Suggestion Management", :controller => "user_suggestions", 
    :action => "index" %><br /><br />
  <%= link_to "Logout", :controller => "pages", 
    :action => "logout" %>  
<% else %>
  <%= link_to "Main", :controller => "users",
    :action => "index" %>
<% end %>
